* {
  box-sizing: border-box;
}

@mixin aFonts {
  text-decoration: none;
  font-size: 16px;
  color: #3D4E61;
}
.navbar {
  display: flex;
  justify-content: space-between;
  .navMenu {
    display: flex;
    div {
      margin: 15px 20px 0;
      a {
        display: block;
        @include aFonts;
      }
      .avatar {
        width: 30px;
      }
      a:not(.avatar) {
        line-height: 30px;
      }
    }
  }
}
.logo {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 15px 26px;
}

footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 98%;
  background: #FFFFFF;
  box-shadow: 0px -1px 0px #E1E7ED;
  padding: 0;
  height: 213px;

  .footerMenu {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    margin: 40px auto 0;
    max-width: 901px;
  div {
    display: flex;
    flex-direction: column;
    a {
      margin-bottom: 9px;
      margin-right: auto;
      line-height: 19px;
      @include aFonts;
    }
    .menuName {
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
  }
}
